---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
	<main class="p-8 flex flex-col gap-2">
		<h1 class="text-3xl font-bold">Tobias Walter Rutar</h1>
		<p class="text-gray-500">CS Student @ Graz University Of Technology</p>
	</main>
</Layout>
