---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <h1>Tobias Walter Rutar</h1>
  <p><a href="mailto:tobias.rutar@student.tugraz.at">tobias.rutar@student.tugraz.at</a></p>
</Layout>
